@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
 background: linear-gradient(
  to right,
  #2de8e8 0%,     // bright aqua
  #0fc2c0 25%,    // teal cyan
  #805ad5 75%,    // deep purple
  #6b46c1 100%    // darker purple
);
 // Tailwind gray-100 to gray-200
    color: #374151; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #111827; // Tailwind gray-900
}
.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 85%;
    padding: 1rem;
}